/* ==== STYLES DE BASE GRANDS ECRANS ==== */

/* ==== BODY ==== */
body {
    margin: 0;
    font-family: Avenir, sans-serif;
    font-size: 18px;
    background-color: #111;
    color: #f0f0f0;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: justify;
}
p:hover {cursor:auto; /* enleve le chien sur le texte*/}

h1, h2, h3, h4, header, footer, table, button {
    font-family: "Clash Display", Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
}

h2, h3{margin-top: 1px;}
h3 {margin-bottom: 15px; /* titre merch*/}

/* ==== HEADER / FOOTER ==== */
header, footer {
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: rgba(172, 172, 172, 0.457) 0px 4px 12px;
}

header {
    background-image: url('img/visuel\ youtube.png');
    background-size: cover;
    box-sizing: border-box;
    padding: 6px;
    text-align: center;
}

footer {
    background: #222;
    bottom: 0;
    height: fit-content;
}

/* ==== HEADER MENU  ==== */
header img{ /*nitandogs*/
    max-height: 80px;
    object-fit: cover;
}
nav{
    position: relative;
    background: transparent;
}
.navliens {
    display: flex;
    gap: 15px;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    margin-bottom: 3px;
    background: #333333c9;
    border-radius: 8px;
    border: 1px solid #555;
    font-weight: bold;
    transition: 0.3s; /*pour le hover color */
}

nav a:hover {
    background: rgba(255, 220, 220, 0.943);
    border-color: rgba(0, 0, 0, 0.269);
    color: #111;   
}

/* === HAMBURGER ==== */
.hamburger {
    display: none;
    flex-direction: column; /*ChatGPT pour le flex des spans */
    cursor: pointer;
    position: fixed;
    padding: 10px;
    background: #333;
    border-radius: 4px;
    border: 1px solid #555;
    top: -50px;
    left: 10px;
}

.hamburger span {
    width: 24px;
    height: 2px;
    background: #fff;
    margin: 2px 0;
    border-radius: 1px;
}

/* === BOUTON DARK / LIGHT ==== */

#darklight {
    display: flex;
    flex-direction: column;
    margin: 6px;
    border: none;
    border-radius: 2px ;
    box-shadow: rgba(65, 65, 65, 0.119) 0px 2px 3px;;
    position: fixed;
    z-index: 1001;
    bottom: 0px;
    right: 0px;
}
/* ==== SOCIAL FOOTER ==== */
.reseau {
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.reseau p {
    margin: 0;
    font-size: 16px;
}

.reseau img {
    color: #fff;
    width: 21px;
    height: 21px;
    transition: 0.3s;
}

.reseau a:hover {
    transform: scale(1.2);
}

/* ==== POINTEURS PUCE ==== */
a,  .galerie img, .hamburger{
cursor: url('img/picto/icons8-bug-30.png'), auto ; 
color: rgb(255, 182, 182);
}

/* ==== MAIN ==== */
main {
    cursor: url('img/picto/icons8-chien-27.png'), auto;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
    position: relative;
    top: 145px; /* en grand ecran */
    bottom: 60px;
}

/* ==== FLEX ==== */
.flex1 {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    flex-direction: row;
}

/* FLEX par id*/
#flexgrp{
    background-image: url('img/1oui1.jpg');
    background-size:contain;   
}

#flexvid{min-height: 100px}

#flexaccueil{
    background-image: url('img/photo\ 1.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
}

/* ==== FLEXBLOC ==== */
.flexbloc{
    flex: 1 1 47%; /*chaque ligne peut accueillir 
    seulement 2 éléments, une marge est ajouté pour les padding et les gap*/
    border-radius: 10px;
    box-sizing: border-box;
    background: rgba(32, 32, 32, 0.856);
    padding: 1rem;
    margin: 0.5rem;
    min-height: 400px
}

/* FLEXBOC MERCH */
.flexbloc_merch{
    flex: 1 1 32.1%; /*chaque ligne peut accueillir
    seulement 3 éléments, une marge est ajouté pour les padding */
    border-radius: 10px;
    background: linear-gradient(180deg, #333333, #111);
    box-sizing: border-box;
    padding: 1rem;
    margin: 0.5rem 0;
    display: flex; /* dans le flex1 (pour elements internes)*/
    flex-direction: column;
    align-items: center;
}

/* ==== MERCH ==== */
.obj {
     width: 90%;
     max-width: 600px;
     margin-bottom: 20px;
     border-radius: 10px;
}

.flexbloc_merch button{ 
    background-color:transparent;
    padding: 0px;
    margin-left: 3px;
    border: none;
  
}

/* ==== GROUPE ==== */
.mbgrp img {
    margin: 0.5rem;
    max-width: 200px;
    height: auto;
}

.floatleft {float: left}

.floatright {float: right}


/* ==== GALERIE ==== */
.galerie {
    column-count: 5; /* Nombre de colonnes */
    column-gap: 10px
}
.galerie img {
    width: 100%;
    border-radius: 8px;
}
.galerie p {
    font-style: italic;
    text-align: center;
    font-size: 0.8em;
    margin: 5px;
    padding: 12px;
    background: linear-gradient(180deg, #33333339, #111);
}


/* ==== TABLEAU  CONCERT ==== */
.tour-dates {
    border: #ffffff73 solid 1px;;
    width: 100%;
    border-collapse: collapse;
    font-style: italic;
}

.tour-dates td:first-child{ border-right: #ffffff73 solid 1px }

.tour-dates td {
    padding: 5px;
    text-align: center;
}

/* ==== ACTU ==== */
#actu_it{
    font-style: italic;
    width: auto;  
}

#actu_it p{ text-align:center }


/* ========================= */
/* ==== RESPONSIVE ==== */
/* ========================= */

/* Tablette */
@media screen and (max-width: 1000px) {
    body{
        font-size: 15px;
    }
    
    #darklight {
        font-size: 13px;
    }

    .reseau p {
        font-size: 13px;
    }

    .reseau img {
        width: 18px;
        height: 18px;
    }

    header img{
        max-height: 70px;
    }

    .flex1{
        flex: none;
    }

    .flexbloc_merch {
        flex: 1 1 47%; /* deux items par ligne*/
        width: 100%;
    }

    .galerie {
    column-count: 3;
    }

    iframe {
    width: 100%;
    height: 300px;
    }
}

/* Smartphone */
@media screen and (max-width: 600px) {
    body{
        font-size: 13px;
    }
    .reseau{
        justify-content: left;
        margin-left: 5px;
        gap: 7px
    }

    #darklight {
        font-size: 11px;
    }

    .reseau p {
        font-size: 10px;
    }

    .reseau img {
        width: 15px;
        height: 15px;
    }

    .flexbloc_merch{
        flex: none; /* pas de flex : 1 item par ligne*/
        width: 100%;
    }
    header img{ 
        max-height: 50px;
      
    }
  
    .hamburger {
        display: flex;
        position: absolute;
    }

    .navliens {
        display: none;
        gap: 5px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    .navliens.active { display: flex; }

    nav a { 
        width: 96%;
        box-sizing: border-box;
    }

    main {
        margin: auto;
        top: 75px;
    }

    .galerie {
    column-count: 2;
    }
}

/* ========================= */
/* ==== IMPRESSION ==== */
/* ========================= */

@media print {
    body, .flexbloc, .flexbloc_merch{
        background-color: white;
        color: black;
    }

    header nav,.hamburger, footer {
        display: none
    }
}

/* ========================= */
/* ==== LIGHTMODE ==== */
/* ========================= */

.lightmode,
.lightmode #flexgrp,
.lightmode #flexaccueil,
.lightmode #flexvid,
.lightmode .flexbloc, 
.lightmode .flexbloc_merch, 
.lightmode .galerie p,
.lightmode footer, 
.lightmode header {
    background-color: #ffffff;
    background-image: none;
    color: #000000;
}

.lightmode footer,
.lightmode header { background-color: #dedede }

.lightmode main{
    cursor:auto
}

.lightmode header img,
.lightmode .reseau img{ filter: invert(100%) }

.lightmode .flexbloc_merch button { background-color: #000000 }