/* ==== STYLES DE BASE ==== */

/* ==== BODY ==== */
body {
    margin: 0;
    font-family: Avenir, sans-serif;
    font-size: 18px;
    background-color: #111;
    color: #f0f0f0;
}

p{
    margin-top: 0;
    margin-bottom: 10px;
}

h1, h2, h3, h4, header, footer, table {
    font-family: "Clash Display";
    letter-spacing: 1.5px;

}

/* ==== HEADER / FOOTER ==== */

header, footer {
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: rgba(150, 150, 150, 0.265) 0px 4px 12px;
}

header {

    background-image: url('img/visuel\ youtube.png');
    background-size: cover;
    background-position-x: -20px;
    padding: 6px;
    text-align: center;
}

footer {
    background: #222;
    bottom: 0;
    max-height: 35px;
}

/* ==== HEADER MENU  ==== */

header img{ /*nitaendogs*/
    max-height: 95px;
    object-fit: cover;
    margin-left: 40px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.nav-links {
    display: flex;
    gap: 15px;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    margin-bottom: 3px;
    background: #333333c9;
    border-radius: 100px;
    border: 1px solid #555;
    font-weight: bold;
    transition: 0.3s; /*pour le hover color */
}

nav a:hover {
    background: rgba(255, 220, 220, 0.943);
    border-color: rgba(0, 0, 0, 0.269);
    color: #111;   
}

/*HAMBURGER*/
.hamburger {
    display: none;
    flex-direction: column;
    padding: 10px;
    background: #333;
    border-radius: 4px;
    border: 1px solid #555;
}

.hamburger span {
    width: 24px;
    height: 2px;
    background: #fff;
    margin: 2px 0;
    border-radius: 1px;
}


/* ==== SOCIAL FOOTER ==== */
.social {
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social p {
    margin: 0;
    font-size: 16px;
}

.social img {
    color: #fff;
    width: 21px;
    height: 21px;
    transition: 0.3s;
}

.social a:hover {
    transform: scale(1.2);
}


/* ==== POINTEURS PUCE ==== */
a,  .galerie img, .hamburger{
cursor: url('img/picto/icons8-bug-30.png'), auto ; 
color: rgb(255, 182, 182);

}

/* ==== MAIN ==== */

main {
    cursor: url('img/picto/icons8-chien-27.png'), auto;  
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
    position: relative;
    top: 140px; /* en grand ecran et 80px en sarm */
    bottom: 60px;
}

p:hover {
    cursor:auto; /* enleve le chien sur le texte*/
}

h2, h3{
    margin-top: 1px;
    font-family: "Clash Display";
}

h3 {
    margin-bottom: 15px; /* titre merch*/
}


/* ==== FLEX ==== */
.flex1 {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    flex-direction: row;
}

#flexgrp{
    background-image: url('img/1oui1.jpg');
    background-size:contain;
    
}
#flexvid{
    min-height: 100px
}
#flexaccueil{
    background-image: url('img/photo\ 1.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
}

/* Styles pour les éléments flex (2 colonnes) */
.flexbloc{
    flex: 1 1 47%; /*chaque ligne peut accueillir 
    seulement 2 éléments, une marge est ajouté pour les padding */
    border-radius: 10px;
    box-sizing: border-box;
    background: rgba(32, 32, 32, 0.856);
    padding: 1rem;
    margin: 0.5rem;
    min-height: 400px
}

.mbgrp  {
    display: block; /* pour appliquer le float */
}

.mbgrp img {
    margin: 0.5rem;
    max-width: 200px;
    height: auto;
}

.floatleft {
float: left;
}

.floatright {
float: right;
}

/* Styles pour les éléments flex du merch */
.flexbloc_merch{
    flex: 1 1 32.1%; /*chaque ligne peut accueillir
    seulement 3 éléments, une marge est ajouté pour les padding */
    border-radius: 10px;
    background: linear-gradient(180deg, #333333, #111);
    box-sizing: border-box;
    padding: 1rem;
    margin: 0.5rem 0;
    display: flex; /* dans le flex*/
    flex-direction: column;
    align-items: center;
}

/* ==== MERCH ==== */
.obj {
     width: 90%;
     max-width: 600px;
     margin-bottom: 20px;
     border-radius: 10px;

}

.flexbloc_merch button{
    background-color:transparent !important;
    border: none    
}
.achat{
    gap: 20px;
    margin-bottom: 30px;
}


/* ==== GALERIE ==== */

.galerie {
    column-count: 5; /* Nombre de colonnes */
    column-gap: 10px
}

.galerie img {
    width: 100%;
    border-radius: 8px;
}

.galerie p {
    font-style: italic;
    text-align: center;
    font-size: 0.8em;
    margin: 5px;
    padding: 12px;
    background: linear-gradient(180deg, #33333339, #111);
}



/* ==== TABLEAU  CONCERT ==== */
.tour-dates {
    border: #ffffff73 solid 1px;;
    width: 100%;
    border-collapse: collapse;
    font-style: italic;
}

.tour-dates td:first-child{
    border-right: #ffffff73 solid 1px;
}

.tour-dates td {
    padding: 5px;
    text-align: center;
}

/* ==== ACTU ==== */
#actu_it{
    font-style: italic;
    text-align: center;
    width: auto;  
}




/* ========================= */
/* ==== RESPONSIVE ==== */
/* ========================= */

/* Tablette */
@media screen and (max-width: 1000px) {
    body{
        font-size: 15px;
    }
    header h1 {
        font-size: 2.4rem;
    }

    .flexbloc_merch {
        flex: 1 1 47%; /* deux item par ligne*/
        width: 100%;
    }

    .galerie {
    column-count: 3;
  }

  iframe {
    width: 100%;
    height: 300px;
}
}

/* Smartphone */
@media screen and (max-width: 600px) {
    body{
        font-size: 13px;
    }

    .flexbloc_merch{
        flex: none; /* pas de flex : 1 item par ligne*/
        width: 100%;
    }
    header img{
        max-height: 70px;
        margin-left: 50px;
    }
    nav {
        position: relative;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: transparent;
    }

    .hamburger {
        display: flex;
        position: absolute;
        top: -70px;
        left: 0px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    nav a {
        width: 40%;
        position: relative;
        border: 1px solid #555;
    }

    main{
        margin: auto;
        top: 105px;
    }

    .galerie {
    column-count: 2;
    
}
}
